<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288098023879-i6v73ulr31sfgodmjsfi67mnrgj3po6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288098023879-i6v73ulr31sfgodmjsfi67mnrgj3po6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>288098023879-8q8mfblcd6kjbvcit4ug7hjf51c8j7n6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi74ayMrmWjQ6Qykm0xkl82_Awi7aqN24</string>
	<key>GCM_SENDER_ID</key>
	<string>288098023879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.buildyou.buildyou</string>
	<key>PROJECT_ID</key>
	<string>buildyou</string>
	<key>STORAGE_BUCKET</key>
	<string>buildyou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288098023879:ios:45a849897f2a324b1081e2</string>
</dict>
</plist>